@inherits UmbracoViewPage<HomePage>
@{
    Layout = null;
    var frontSection = this.Model.Children.OfType<FrontSection>().First();
    var serviceSection = this.Model.Children.OfType<ServicesSection>().First();
    var whyUsSection = this.Model.Children.OfType<WhyUsSection>().First();
    var resultsSection = this.Model.Children.OfType<ResultsSection>().First();
    var testimonialsSection = this.Model.Children.OfType<TestimonialsSection>().First();
    var ourTeamSection = this.Model.Children.OfType<OurTeamSection>().First();
    var contactsSection = this.Model.Children.OfType<ContactsSection>().First();

}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeaderTrash", this.Model)

<body>
    <!-- Header -->
    <header id="home">

        @Html.Partial("FrontSection", frontSection)
        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="index.html">
                            <img class="logo" src="img/logo.png" alt="logo">
                            <img class="logo-alt" src="img/logo-alt.png" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>
                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#pricing">Prices</a></li>
                    <li><a href="#team">Team</a></li>
                    <li class="has-dropdown">
                        <a href="#blog">Blog</a>
                        <ul class="dropdown">
                            <li><a href="blog-single.html">blog post</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <!-- /Main navigation -->
            </div>
        </nav>
        <!-- /Nav -->
    </header>
    <!-- About -->
    <div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Welcome to Website</h2>
                </div>
                <!-- /Section header -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-cogs"></i>
                        <h3>Fully Customizible</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-magic"></i>
                        <h3>Awesome Features</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-mobile"></i>
                        <h3>Fully Responsive</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /about -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    
    @Html.Partial("ServiceSection", serviceSection)
    
    @Html.Partial("WhyUsSection", whyUsSection)

    @Html.Partial("ResultsSection", resultsSection)

    <!-- Pricing -->
    <div id="pricing" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Pricing Table</h2>
                </div>
                <!-- /Section header -->
                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Basic plan</span>
                            <div class="price">
                                <h3>$9<span class="duration">/ month</span></h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>1GB Disk Space</p>
                            </li>
                            <li>
                                <p>100 Email Account</p>
                            </li>
                            <li>
                                <p>24/24 Support</p>
                            </li>
                        </ul>
                        <div class="price-btn">
                            <button class="outline-btn">Purchase now</button>
                        </div>
                    </div>
                </div>
                <!-- /pricing -->
                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Silver plan</span>
                            <div class="price">
                                <h3>$19<span class="duration">/ month</span></h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>1GB Disk Space</p>
                            </li>
                            <li>
                                <p>100 Email Account</p>
                            </li>
                            <li>
                                <p>24/24 Support</p>
                            </li>
                        </ul>
                        <div class="price-btn">
                            <button class="outline-btn">Purchase now</button>
                        </div>
                    </div>
                </div>
                <!-- /pricing -->
                <!-- pricing -->
                <div class="col-sm-4">
                    <div class="pricing">
                        <div class="price-head">
                            <span class="price-title">Gold plan</span>
                            <div class="price">
                                <h3>$39<span class="duration">/ month</span></h3>
                            </div>
                        </div>
                        <ul class="price-content">
                            <li>
                                <p>1GB Disk Space</p>
                            </li>
                            <li>
                                <p>100 Email Account</p>
                            </li>
                            <li>
                                <p>24/24 Support</p>
                            </li>
                        </ul>
                        <div class="price-btn">
                            <button class="outline-btn">Purchase now</button>
                        </div>
                    </div>
                </div>
                <!-- /pricing -->

            </div>
            <!-- Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Pricing -->
   
    @Html.Partial("TestimonialsSection", testimonialsSection)

    @Html.Partial("OurTeamSection", ourTeamSection)


    @Html.Partial("ContactsSection", contactsSection)
    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->


    @Html.Partial("JsTrash")

</body>

</html>
